{% load staticfiles %}
<!DOCTYPE html PUBLIC>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<title> GALLERIA</title>
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'styles.css'%}">

<!-- Pirobox setup and styles end-->

<div id="header">
<h2>Welcome to the gallery</h2>
    </div>

</head>

<div id="main">
<!-- header begins -->

<div id="header">
	  <div style="height:50px"></div>
    </div>
   <div id="buttons">
     <a href="/"  class="but" title="">Inicio</a>
     <a href="/video" class="but" title="">Video</a>
     <a href="/order"  class="but" title=""> Make an Order</a>
    </div>
</div>
<!-- header ends -->

        <!-- content begins -->
       			<div id="content">
                	<div class="row">
                   	  <div class="box_img2">
												<h1> 2.50 € </h1>
                           <a class="pirobox_gal1" title="1st Project Image"> <img src="/static/images/img1.jpg" alt="" width="310" height="310"/></a>
                       	<div style="height:30px"></div>
                      </div>

                      <div class="box_img2">
												<h1> 2.50 € </h1>
                        <a class="pirobox_gal1" title="2nd Project Image"><img src="/static/images/img2.jpg" alt="" width="310" height="310"/></a>
                          	<div style="height:30px"></div>
                         </div>

                      <div class="box_img2">
												<h1> 2.50 € </h1>
                        <a  class="pirobox_gal1"  title="3rd Project Image"><img src="/static/images/img3.jpg" alt="" width="310" height="310"/></a>
                          	<div style="height:30px"></div>
                   	  </div>

                  	</div>
                	<div style="height:30px"></div>

                    <div class="row">
                   	  <div class="box_img2">
												<h1> 2.50 € </h1>
                            <a  class="pirobox_gal1" title="4th Project Image"><img src="/static/images/img4.jpg" alt="" width="310" height="310"/></a>
                       	<div style="height:30px"></div>
                        </div>

                      <div class="box_img2">
												<h1> 2.50 € </h1>
                        <a  class="pirobox_gal1" title="5th Project Image"><img src="/static/images/img5.jpg" alt="" width="310" height="310"/></a>
                          	<div style="height:30px"></div>
                        </div>

                      <div class="box_img2">
												<h1> 2.50 € </h1>
                        <a  class="pirobox_gal1" title="6th Project Image"><img src="/static/images/img6.jpg" alt="" width="310" height="310"/></a>
                          	<div style="height:30px"></div>
                        </div>

                  	</div>

                </div>
