{% load staticfiles %}

<!DOCTYPE html PUBLIC>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> PAPELERÍA CREATIVA</title>
<div style="height:11px"></div>
<div align="center" > <img src="static/images/presentacion.jpg" align="center" width="413" height="111"  />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='static/images/ICONO.ico' rel='shortcut icon' type='image/png'/>
<link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>

<div id="main_bg">
<div id="main">
<!-- header begins -->
<div id="header">
	<div style="height:11px"></div>
    </div>
   <div id="buttons">
      <a href="video" class="but" title="">Video</a>
      <a href="gallery"  class="but" title="">Gallery</a>
    </div>
</div>
<!-- header ends -->
<div class="top">

<ul class="round">
			<li><img src="static/images/header1.jpg" alt="" width="510" height="320" /></li>
			<li><img src="static/images/header2.jpg" alt="" width="510" height="320"/></li>
			<li><img src="static/images/header3.jpg" alt="" width="510" height="320"/></li>
			<li><img src="static/images/header4.jpg" alt="" width="510" height="320"/></li>

</ul>
<script type="text/javascript" src="static/lib/jquery.js"></script>
<script type="text/javascript" src="static/lib/jquery.roundabout.js"></script>
<script type="text/javascript">

			$(document).ready(function() {
				$('.round').roundabout();
			});

		</script>
</div>

</html>
