{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<title> YOUR ORDER</title>
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'styles.css'%}">

<!-- Pirobox setup and styles end-->

<div id="header">
<h2>SELECT YOUR TOMBOW!</h2>
    </div>

</head>
<body>

<h2> Pedido online! </h2>

<div id="main">
<!-- header begins -->

<div id="header">
    <div style="height:50px"></div>
    </div>
   <div id="buttons">
      <a href="/" class="but"  title="">Inicio</a>
      <a href="/gallery"  class="but" title="">Gallery</a>
      <a href="/video"  class="but" title=""> Video </a>
    </div>
</div>



<div style="height:30px"></div>

<h1> Select the colour </h1>
<form action="/action_page.php">
  <select name="cars" size="3">
    <option value="Yellow">GREY GREEN</option>
    <option value="Orange">ORANGE</option>
    <option value="Red">LIGHT OLIVE</option>
    <option value="Pink">MIST PURPLE</option>
    <option value="757">PORT RED</option>
    <option value="856">CHINESE RED</option>
  </select>
  <br><br>

</form>

<div style="height:30px"></div>

<h1> Select how many</h1>
<form action="/action_page.php">
  Quantity:
  <input type="number" name="quantity"
   min="0" max="10">
  <input type="submit">
</form>



</body>
</html>
