{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<title> YOUR ORDER</title>
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'styles.css'%}">

<!-- Pirobox setup and styles end-->

<div id="header">
<h2>SELECT YOUR TOMBOW!</h2>
    </div>

</head>
<body>

<h2> Pedido online! </h2>

<div id="main">
<!-- header begins -->

<div id="header">
    <div style="height:50px"></div>
    </div>
   <div id="buttons">
      <a href="/" class="but"  title="">Inicio</a>
      <a href="/gallery"  class="but" title="">Gallery</a>
      <a href="/video"  class="but" title=""> Video </a>
    </div>
</div>

<form action ="" method="POST"> 

  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Enviar"></input>

</form>



</body>
</html>
