{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="{% static 'styles.css'%}">
<div style="text-align:center">


  <div id="header">
    <div style="height:20px"></div>
  <h2>Welcome to the lettering video</h2>
      </div>

  </head>

  <div id="main">
  <!-- header begins -->

  <div id="header">
  	  <div style="height:50px"></div>
      </div>
     <div id="buttons">
        <a href="/" class="but_home"  title="">Inicio</a>
        <a href="/gallery"  class="but" title="">Gallery</a>
        <a href="/order"  class="but" title=""> Make an Order</a>
      </div>
  </div>

    	  <div style="height:20px"></div>

  <button onclick="playPause()">Play/Pause</button>
  <button onclick="makeBig()">Big</button>
  <br><br>

<video id="video1" poster="/static/images/presentacion.jpg" width="480" height="360" controls >
    <source  src="/static/videos/video.mp4" type="video/mp4" >
  </video>
</div>

<script>
var myVideo = document.getElementById("video1");

function playPause() {
  if (myVideo.paused)
    myVideo.play();
  else
    myVideo.pause();
}

function makeBig() {
    myVideo.width = 560;
}


</body>
</html>
